Group	Packages
compression	9
Database	2
development	80
editors	3
libraries	82
mingw-w64-clang-aarch64-arm-none-eabi-toolchain	1
mingw-w64-clang-aarch64-avr-toolchain	1
mingw-w64-clang-aarch64-coin-or	9
mingw-w64-clang-aarch64-eda	23
mingw-w64-clang-aarch64-kde-applications	11
mingw-w64-clang-aarch64-kde-education	1
mingw-w64-clang-aarch64-kde-multimedia	1
mingw-w64-clang-aarch64-kde-network	2
mingw-w64-clang-aarch64-kde-sdk	2
mingw-w64-clang-aarch64-kde-utilities	4
mingw-w64-clang-aarch64-kdesdk	2
mingw-w64-clang-aarch64-kf6	57
mingw-w64-clang-aarch64-nerd-fonts	73
mingw-w64-clang-aarch64-objfw	9
mingw-w64-clang-aarch64-opencascade-docs	2
mingw-w64-clang-aarch64-plasma	2
mingw-w64-clang-aarch64-qt5	38
mingw-w64-clang-aarch64-qt5-debug	36
mingw-w64-clang-aarch64-qt6	39
mingw-w64-clang-aarch64-qt6-debug	36
mingw-w64-clang-aarch64-riscv32-unknown-elf-toolchain	1
mingw-w64-clang-aarch64-riscv64-unknown-elf-toolchain	1
mingw-w64-clang-aarch64-tesseract-data	125
mingw-w64-clang-aarch64-texlive-full	36
mingw-w64-clang-aarch64-texlive-scheme-basic	1
mingw-w64-clang-aarch64-texlive-scheme-bookpub	1
mingw-w64-clang-aarch64-texlive-scheme-context	2
mingw-w64-clang-aarch64-texlive-scheme-full	36
mingw-w64-clang-aarch64-texlive-scheme-gust	7
mingw-w64-clang-aarch64-texlive-scheme-medium	18
mingw-w64-clang-aarch64-texlive-scheme-small	3
mingw-w64-clang-aarch64-texlive-scheme-tetex	23
mingw-w64-clang-aarch64-toolchain	22
mingw-w64-clang-aarch64-vulkan-devel	6
mingw-w64-clang-aarch64-wasi-sdk	3
mingw-w64-clang-x86_64-arm-none-eabi-toolchain	3
mingw-w64-clang-x86_64-avr-toolchain	3
mingw-w64-clang-x86_64-coin-or	9
mingw-w64-clang-x86_64-eda	23
mingw-w64-clang-x86_64-kde-applications	11
mingw-w64-clang-x86_64-kde-education	1
mingw-w64-clang-x86_64-kde-multimedia	1
mingw-w64-clang-x86_64-kde-network	2
mingw-w64-clang-x86_64-kde-sdk	2
mingw-w64-clang-x86_64-kde-utilities	4
mingw-w64-clang-x86_64-kdesdk	2
mingw-w64-clang-x86_64-kf6	57
mingw-w64-clang-x86_64-nerd-fonts	73
mingw-w64-clang-x86_64-objfw	9
mingw-w64-clang-x86_64-opencascade-docs	2
mingw-w64-clang-x86_64-plasma	2
mingw-w64-clang-x86_64-qt5	38
mingw-w64-clang-x86_64-qt5-debug	36
mingw-w64-clang-x86_64-qt6	39
mingw-w64-clang-x86_64-qt6-debug	36
mingw-w64-clang-x86_64-riscv32-unknown-elf-toolchain	3
mingw-w64-clang-x86_64-riscv64-unknown-elf-toolchain	3
mingw-w64-clang-x86_64-tesseract-data	125
mingw-w64-clang-x86_64-texlive-full	36
mingw-w64-clang-x86_64-texlive-scheme-basic	1
mingw-w64-clang-x86_64-texlive-scheme-bookpub	1
mingw-w64-clang-x86_64-texlive-scheme-context	2
mingw-w64-clang-x86_64-texlive-scheme-full	36
mingw-w64-clang-x86_64-texlive-scheme-gust	7
mingw-w64-clang-x86_64-texlive-scheme-medium	18
mingw-w64-clang-x86_64-texlive-scheme-small	3
mingw-w64-clang-x86_64-texlive-scheme-tetex	23
mingw-w64-clang-x86_64-toolchain	22
mingw-w64-clang-x86_64-vulkan-devel	6
mingw-w64-clang-x86_64-wasi-sdk	3
mingw-w64-cross	46
mingw-w64-cross-clang-toolchain	3
mingw-w64-cross-toolchain	46
mingw-w64-i686-toolchain	12
mingw-w64-i686-vulkan-devel	2
mingw-w64-ucrt-x86_64-arm-none-eabi-toolchain	3
mingw-w64-ucrt-x86_64-avr-toolchain	3
mingw-w64-ucrt-x86_64-coin-or	9
mingw-w64-ucrt-x86_64-eda	26
mingw-w64-ucrt-x86_64-kde-applications	11
mingw-w64-ucrt-x86_64-kde-education	1
mingw-w64-ucrt-x86_64-kde-multimedia	1
mingw-w64-ucrt-x86_64-kde-network	2
mingw-w64-ucrt-x86_64-kde-sdk	2
mingw-w64-ucrt-x86_64-kde-utilities	4
mingw-w64-ucrt-x86_64-kdesdk	2
mingw-w64-ucrt-x86_64-kf6	57
mingw-w64-ucrt-x86_64-nerd-fonts	73
mingw-w64-ucrt-x86_64-objfw	9
mingw-w64-ucrt-x86_64-opencascade-docs	2
mingw-w64-ucrt-x86_64-plasma	2
mingw-w64-ucrt-x86_64-qt5	38
mingw-w64-ucrt-x86_64-qt5-debug	36
mingw-w64-ucrt-x86_64-qt6	39
mingw-w64-ucrt-x86_64-qt6-debug	36
mingw-w64-ucrt-x86_64-riscv32-unknown-elf-toolchain	3
mingw-w64-ucrt-x86_64-riscv64-unknown-elf-toolchain	3
mingw-w64-ucrt-x86_64-tesseract-data	125
mingw-w64-ucrt-x86_64-texlive-full	36
mingw-w64-ucrt-x86_64-texlive-scheme-basic	1
mingw-w64-ucrt-x86_64-texlive-scheme-bookpub	1
mingw-w64-ucrt-x86_64-texlive-scheme-context	2
mingw-w64-ucrt-x86_64-texlive-scheme-full	36
mingw-w64-ucrt-x86_64-texlive-scheme-gust	7
mingw-w64-ucrt-x86_64-texlive-scheme-medium	18
mingw-w64-ucrt-x86_64-texlive-scheme-small	3
mingw-w64-ucrt-x86_64-texlive-scheme-tetex	23
mingw-w64-ucrt-x86_64-toolchain	13
mingw-w64-ucrt-x86_64-vulkan-devel	6
mingw-w64-ucrt-x86_64-wasi-sdk	3
mingw-w64-x86_64-eda	18
mingw-w64-x86_64-kf6	1
mingw-w64-x86_64-objfw	9
mingw-w64-x86_64-opencascade-docs	2
mingw-w64-x86_64-qt5	38
mingw-w64-x86_64-qt5-debug	36
mingw-w64-x86_64-qt6	36
mingw-w64-x86_64-qt6-debug	33
mingw-w64-x86_64-tesseract-data	125
mingw-w64-x86_64-toolchain	13
mingw-w64-x86_64-vulkan-devel	6
net-utils	9
perl-modules	119
sys-utils	5
